@page
@model Licenta.Pages.Dishes.CreateModel

@{
    ViewData["Title"] = "Adaugare";
}

<h1>Adauga</h1>

<h4>Preparat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dish.Name" class="control-label"></label>
                <input asp-for="Dish.Name" class="form-control" />
                <span asp-validation-for="Dish.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dish.Description" class="control-label"></label>
                <input asp-for="Dish.Description" class="form-control" />
                <span asp-validation-for="Dish.Description" class="text-danger"></span>
            </div>
            <div class="form-group"> 
                <label asp-for="Dish.CategoryID" class="control-label">Categorie</label> 
                <select asp-for="Dish.CategoryID" class="form-control" asp-items="ViewBag.CategoryID"> </select> 
                <span asp-validation-for="Dish.CategoryID" class="text-danger"></span> 
            </div>

            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                foreach (var ingr in Model.AssignedIngredientDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @: <td>
                                        <input type="checkbox"
                                               name="selectedIngredients"
                                               value="@ingr.IngredientID"
                                               @(Html.Raw(ingr.Assigned ? "checked=\"checked\"" : "")) />
                                        @ingr.IngredientID @:  @ingr.Name
                                    @:</td>
                                }
                            @:</tr>
                            }
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt2 = 0;
                                foreach (var alg in Model.AssignedAllergenDataList)
                                {
                                    if (cnt2++ % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @: <td>
                                        <input type="checkbox"
                                               name="selectedAllergens"
                                               value="@alg.AllergenID"
                                               @(Html.Raw(alg.Assigned ? "checked=\"checked\"" : "")) />
                                        @alg.AllergenID @:  @alg.Name
                                    @:</td>
                                }
                            @:</tr>
                            }
                    </table>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Dish.Amount" class="control-label"></label>
                <input asp-for="Dish.Amount" class="form-control" />
                <span asp-validation-for="Dish.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dish.Unit" class="control-label"></label>
                <input asp-for="Dish.Unit" class="form-control" />
                <span asp-validation-for="Dish.Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dish.ServingRecommendation" class="control-label"></label>
                <input asp-for="Dish.ServingRecommendation" class="form-control" />
                <span asp-validation-for="Dish.ServingRecommendation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Dish.CoverImageFile" class="control-label">Alege Imagine</label>
                <input type="file" asp-for="Dish.CoverImageFile" class="form-control" />
                <span asp-validation-for="Dish.CoverImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Inapoi la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
